{% extends "core/base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-10 bg-blue-200 rounded-xl">
        <div class="grid grid-cols-1 grid-rows-2 gap-3">
            <div class="px-3 py-3 bg-white rounded-lg">
                <nav class="flex overflow-hidden justify-center space-x-6">
                    {% comment %} City {% endcomment %}
                    <div x-data="{ open: false }">
                        <button class="one_word py-3 bg-blue-500 rounded-xl text-lg font-semibold text-white" @click="open = ! open">City</button>
                     
                        <div x-show="open" @click.outside="open = false">
                            <div class="one_word_dropdown absolute left-15 mt-1 py-2 bg-white rounded-xl shadow-xl overflow-auto h-60">
                                {% for city in cities %}
                                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">{{city.city}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% comment %} State {% endcomment %}
                    <div x-data="{ open: false }">
                        <button class="one_word py-3 bg-blue-500 rounded-xl text-lg font-semibold text-white" @click="open = ! open">State</button>
                     
                        <div x-show="open" @click.outside="open = false">
                            <div class="one_word_dropdown absolute left-15 mt-1 py-2 bg-white rounded-xl shadow-xl overflow-auto h-60">
                                {% for state in states%}
                                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">{{state.state_prov}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% comment %} Country {% endcomment %}
                    <div x-data="{ open: false, scroll: 0 }" x-scroll="scroll = $event.target.scrollTop" class="overflow-auto n-64">
                        <button class="one_word py-3 bg-blue-500 rounded-xl text-lg font-semibold text-white" @click="open = ! open">Country</button>
                     
                        <div x-show="open" @click.outside="open = false">
                            <div class="one_word_dropdown absolute left-15 mt-1 py-2 bg-white rounded-xl shadow-xl overflow-auto h-60">
                                {% for country in countries %}
                                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">{{country.country}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% comment %} Event {% endcomment %}
                    <div x-data="{ open: false }">
                        <button class="many_words py-3 bg-red-500 rounded-xl text-lg font-semibold text-white" @click="open = ! open">Event</button>
                     
                        <div x-show="open" @click.outside="open = false">
                            <div class="event_dropdown absolute left-15 mt-1 py-2 bg-white rounded-xl shadow-xl overflow-auto h-60">
                                {% for event in event_names %}
                                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">{{event.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% comment %} Team {% endcomment %}
                    <div x-data="{ open: false }">
                        <button class="one_word py-3 bg-blue-500 rounded-xl text-lg font-semibold text-white" @click="open = ! open">Team</button>
                     
                        <div x-show="open" @click.outside="open = false">
                            <div class="one_word_dropdown absolute left-15 mt-1 py-2 w-48 bg-white rounded-xl shadow-xl overflow-auto h-60">
                                {% for team in teams %}
                                    <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-blue-500 hover:text-white">{{team.number}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <input class="py-3 bg-red-500 rounded-xl text-lg text-white font-semibold w-20" type="submit" name="apply" value="Update">
                </nav>
            </div>

            <div class="grid grid-cols-3 grid-rows-1 gap-3">
                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Team Data</h2>
                </div>

                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Categories</h2>
                </div>

                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Current Ranking</h2>
                </div>
                
            </div>
    </div>

    {% comment %} <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    <div> {% endcomment %}
{% endblock %}
