{% extends "core/base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-10 bg-blue-200 rounded-xl">
        <div class="grid grid-cols-1 grid-rows-2 gap-3">
            <div class="px-3 py-3 bg-white rounded-lg">
                <nav class="flex overflow-hidden justify-center space-x-6">

                    {% comment %} Country {% endcomment %}
                    <div id="country_dropdown"></div>

                    {% comment %} State {% endcomment %}
                    <div id="state_dropdown"></div>

                    {% comment %} City {% endcomment %}
                    <div id="city_dropdown"></div>

                    {% comment %} Event {% endcomment %}
                    <div id="event_dropdown"></div>

                    {% comment %} Team {% endcomment %}
                    <div id="team_dropdown"></div>

                    <input class="py-3 bg-red-500 rounded-xl text-lg text-white font-semibold w-20" type="button" name="apply" value="Apply">
                </nav>
            </div>

            <div class="grid grid-cols-3 grid-rows-1 gap-3">
                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Team Data</h2>
                </div>

                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Categories</h2>
                </div>

                <div class="bg-white rounded-lg">
                    <h2 class="py-3 text-2xl text-center text-white font-semibold bg-blue-500 rounded-lg">Current Ranking</h2>
                </div>
                
            </div>
    </div>
    <script src="{% static 'js/listeners.js' %}"></script>
{% endblock %}
